/* 
 This CSS file is used to override the existing styles of the theme.
 You can change the article headings, fonts, colors, etc.
*/
* {
    font-family: "Nanum Gothic", serif;
    font-weight: 400;
    font-style: normal;
}